<div class='text-field form-group'>
  <%= form.label :email, class: 'col-sm-offset-1 col-sm-2 control-label' %>
  <div class="col-sm-7">
    <%= form.text_field :email, type: 'email', class: 'form-control' %>
  </div>
</div>

<div class='password-field form-group'>
  <%= form.label :password, class: 'col-sm-offset-1 col-sm-2 control-label' %>
  <div class='col-sm-7'>
    <%= form.password_field :password, class: 'form-control' %>
  </div>
</div>
