/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// Restaurants list

.image img {
  height: 100%;
  width: 100%;
  margin-right: 3px;
}

.restaurant-row {
  margin-bottom: 15px;
}

body {
  background-color: #eee;
}

// Header Nav Styling


.navbar-fixed-top.fixednav {
    background-color: rgba(0,0,0, 0.3);
  }

a.navbar-text {
  font-size: 64px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0;
  text-decoration: none;
}

a.sign-in {
  margin-top: 15px;
}

a.new-restaurant {
  float: right;
  margin-right: 10px;
}

.sign-out, .new-restaurant {
  margin-top: 25px;
}

.sign-out:hover, .new-restaurant:hover {
  box-shadow: 0px 15px 10px -10px #666;
}

// Restaurants index

div.container {
  margin-top: -60px;
  background-color: #fff;
  border-radius: 8px;
}

.index-title {
  margin-bottom: 50px;
}

a.btn.delete-btn {
  border: none;
}

p.rest-address, .rest-style {
  margin: 0;
}

h4.rest-name {
  margin-top: 0;
  margin-bottom: 4px;
}

// New Restaurants form
div.container#new-restaurant-container {
  margin: 0;
  padding: 0;
  background-color: #eee;
  height: 100vh;
}

form.new-form, {
  padding: 50px;
  border: solid 1px #eee;
  border-radius: 8px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #fff;
  box-shadow: 0px 15px 20px -10px #666;
}

form#search-form {
  margin-top: 20px;
}

// Sign-up / Welcome Page

div.sign-in-container {
  height: 100vh;
  background-color: #eee;
}

.sign-in-container h2 {
  margin: 0;
}

section.welcome-section, .rest-section {
  background: url('<%= asset_path("kris-atomic-39750.jpg") %>') no-repeat center center;
  background-size: cover;
  height: 300px;
  margin: 0;
}

.info-row {
  margin-left: 40px;
  margin-top: -130px;
}

img.welcome-icon {
  width: 40%;
}

h3.info-title {
  height: 50px;
  margin-bottom: 30px;
}

.info-col {
  margin-right: 40px;
}

form.login-form {
  padding: 20px 0 20px 0;
  border: solid 1px #eee;
  border-radius: 8px;
  margin-top: -150px;
  margin-bottom: 100px;
  background-color: #fff;
  box-shadow: 0px 15px 20px -10px #666;
}

h3.login-title {
  margin: 0 0 10px 0;
  text-align: center;
}

a.forgot-password {
  margin-left: 20px;
  color: #999;
}

// Signup Page

div.sign-up-container {
  height: 100vh;
  background-image: url('./sign-up-bg.jpg');
  background-size: contain;
}

form.sign-up-form {
  padding: 20px 0 50px 0;
  border: solid 1px #eee;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 100px;
  background-color: #fff;
  box-shadow: 0px 15px 20px -10px #666;
}

.btn.su-login {
  border: none;
  color: #999;
}

@media (max-width: 770px) {
  h1.navbar-text.navbar-left {
    display: inline;
  }
}
