/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// Restaurants list

.image img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-right: 3px;
}

.restaurant-row {
  margin-bottom: 15px;
}

// Header Nav Styling

p.navbar-text {
  margin: 0;
}

a.sign-in {
  margin-top: 15px;
}

a.new-restaurant {
  float: right;
  margin-right: 10px;
}

// Restaurants index

.index-title {
  margin-bottom: 50px;
}

// New Restaurants form
div.container#new-restaurant-container {
  margin: 0;
  padding: 0;
  background-color: #eee;
  height: 100vh;
}

form.new-form {
  padding: 50px;
  border: solid 1px #eee;
  border-radius: 8px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #fff;
  box-shadow: 0px 15px 20px -10px #666;
}

// Sign-up / Welcome Page

div.sign-in-container {
  height: 100%;
  background-color: #eee;
}

.sign-in-container h2 {
  margin: 0;
}

section.welcome-section {
  background: url('./kris-atomic-39750.jpg') no-repeat center center;
  background-size: cover;
  height: 300px;
  margin: 0;
}

h2.welcome-heading-text {
  color: #fff;
  margin-left: 35px;
  padding: 10px;
  // -webkit-text-stroke-width: .5px;
  // -webkit-text-stroke-color: #666;
}

img.welcome-icon {
  width: 50%;
}

form.login-form {
  padding: 30px 0 50px 0;
  border: solid 1px #eee;
  border-radius: 8px;
  margin-top: -60px;
  margin-bottom: 100px;
  background-color: #fff;
  box-shadow: 0px 15px 20px -10px #666;
}

h3.login-title {
  margin: 0 0 10px 0;
  text-align: center;
}

a.forgot-password {
  margin-left: 20px;
}
